[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
mysqlclient = "*"
django-environ = "*"
pipreqs = "*"
psycopg2-binary = "*"
python-dotenv = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
django-cors-headers = "*"
requests = "*"
opencv-python = "*"
pillow = "*"
scikit-image = "*"
torch = "*"
torchvision = "*"
scipy = "*"
django-redis = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
